body {
    background:rgb(23, 14, 29);
    color:rgb(102, 121, 133);
    font-family: Consolas,monaco,monospace; 
    line-height:110%;
}
img{
    max-width:100%;
}
h3{
    color:rgb(106, 143, 211);
}
.content
{
    position:relative;
    max-width: 960px;
    margin: auto;
    margin-top:-8px;
}
.logo
{
    position:absolute;
    top:0;
    left:0;
    width:300px;
    height:100px;
    background-size:contain;
    background-repeat:no-repeat;
    background-image:url(images/site/logo.png);
}
.buttonsBar
{
    position:absolute;
    right:0;top:0;
    width: 480px;
    height:56px;
}
.contentBody
{
    margin-top:90px;
    clear:left;
    float:left;
}
.siteButton
{
    float:right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:12px;
    width:90px;
    height:30px;
    cursor:pointer;
}
.siteButton:hover{
    background-color:rgb(0, 89, 255);
}
.buttonImage
{
    max-height:30px;
}
a:visited{
    color:rgb(0, 89, 255);
}
a:link{
    color:rgb(0, 89, 255);
}
a:hover{
    color:rgb(255, 0, 0);
}